body {
    font-family: Tahoma;
    background-color: #fdf5ff;
    color: #7d7283;
    margin: 0;
    padding: 0;
}

#task-manager {
    display: flex;
    max-width: 1400px;
    margin: 40px auto;
    padding: 24px;
    background-color: rgb(208, 160, 215);
    border-radius: 15px;
}

.tasks-list {
    list-style-type: none;
    padding: 0;
}

.tasks-list li {
    background-color: #d4bcf6;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(196, 196, 196, 0.3);
}

.tasks-item {
    color: #b7b7b7;
}

.tasks-item h3 {
    margin-top: 0;
    color: #b69dd7;
}

.tasks-item button {
    background-color: #805ca2;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

.tasks-item button:hover {
    background-color: #a886c7;
}

.tasks-item button:disabled {
    background-color: #b6b6b6;
    cursor: not-allowed;
}

.tasks-creator {
    background-color: #805ca2;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    margin-right: 25px;
}

.tasks-creator label {
    display: block;
    color: #cecece;
    margin-bottom: 5px;
}

.tasks-creator input,
.tasks-creator textarea {
    color: #fff;
    width: 350px;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #4c354f;
    border-radius: 5px;
    background-color: #604262;
}

.tasks-creator button {
    background-color: #805ca2;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tasks-creator button:hover {
    background-color: #a886c7;
}

.tasks-creator button:disabled {
    background-color: #b6b6b6;
    cursor: not-allowed;
}

.task-board {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.task-board h2 {
    border-bottom: 1px solid #9f76d7;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
